extends ../layout

block append scripts

block content
	div.taskList
		h1 &micro;Task list
		if data.microTasks
			ul
				each microTask in data.microTasks
					a(href="/task/#{microTask.id}")
						li= microTask.id