extends ../layout

block content
	.row
		.span4
			h2 &micro;Task list for Task #{taskID} 
		.span4
			a.btn.btn-primary(href="/task/#{taskID}/code/add")
				i.icon-plus.icon-white
				|  Add code

	.row
		.span12
			if data.microTasks
				ul
					each microTask in data.microTasks
						li
							a(href="/task/#{microTask.id}")= microTask.id