extends ../layout

block append scripts
block content
	div.taskList
		h1 &micro;Task list
		a.addCode(href="/task/#{taskID}/code/add") Add code
		if errorMessage
			h2.error!= errorMessage
		else
			if data.microTasks
				ul
					each microTask in data.microTasks
						li
							a(href="/task/#{microTask.id}")= microTask.id