extends ../layout

block append scripts
	:coffeescript
		fieldNum = 0
		addField = ->
			id = "taskCode_#{fieldNum++}"
			$section = $ '<section>'
			$label = $ '<label>',
				'for': id
				text: "Upload file #{fieldNum}"
			$input = $ '<input>',
				id: id,
				name: id,
				type: 'file'

			$section.append $label
			$section.append $input
			$( 'form' ).prepend $section
		jQuery ($)->
			addField()
			$( '#btnSend' ).click ->
				numFile = 0
				$( 'input[type="file"]' ).each ->
					if $( @ ).val()!="" then numFile++
					return
				return 0==numFile

			$( '#btnAdd' ).click ->
				addField()
block content
	h1 #{title}
	form(action="/task/#{taskID}/code",method="post",enctype="multipart/form-data")
		section.actions
			input#btnAdd(type="button", value="Aggiungi")
			input#btnSend(type="submit", value="Invia")