# Logs #
logs/*

# MongoDB data #
data/*

# Modules #
node_modules

# Generated css/js #
public/stylesheets/*.css
public/scripts/*.js

# Video #
public/video/*

# Config files #


# Sublime files #
*.sublime-workspace

# Uploaded files #
uploads/*
task-repo/tasks/*