# Logs #
logs/*

# Data #
## MongoDB data ##
data/*

## Task data ##
task-repo/tasks/*

# Modules #
node_modules

# Generated css/js #
public/stylesheets/*.css
public/javscripts

# Video #
public/video/*

# Config files #


# Sublime files #
# *.sublime-workspace

# Uploaded files #
uploads