# Logs #
logs/*

# MongoDB data #
data/*

# Modules #
node_modules

# Generated css/js #
public/stylesheets/*.css
public/scripts/*.js

# Config files #


# Sublime files #
*.sublime*

# Uploaded files #
uploads/*