extends layout

block scripts

block content
	h1 Main page
	span Get the 
		a(href="/tasks", title="Task list") task list
	br
	span
		a(href="/tasks/new", title="Add task") Add task
	br
	span
		a(href="/test", title="Test page") Test page