extends layout

block scripts

block content
	h1 Main page
	span Get the 
		a(href="/task/1/list", title="Task list") &micro;Task list
		|  for task 1 (Classify)
	br
	span Get the 
		a(href="/task/38/list", title="Task list") &micro;Task list
		|  for task 38 (Like)
	br
	span
		a(href="/test", title="WebCL SIFT test page") Test page for WebCL SIFT
	br
	span
		a(href="/testVideo", title="Video test page") Video tag test page
	br
	span
		a(href="/testVideoPOI", title="Video POI test page") Video POI test page