extends layout

block content
	dl
		dt Task related pages
		dd Get my 
			a(href="/tasks",rel="tooltip", title="My Task list") Tasks
		dt Test pages
		dd
			a(href="/test",rel="tooltip", title="WebCL SIFT test page") Test page for WebCL SIFT
		dd
			a(href="/testVideo",rel="tooltip", title="Video test page") Video tag test page
		dd
			a(href="/testVideoPOI",rel="tooltip", title="Video POI test page") Video POI test page
		dt Use cases
		dd
			a(href="/hybrid",rel="tooltip", title="Hybrid use-case") Hybrid use-case
		dd
			a(href="/automatic",rel="tooltip", title="Automatic use-case") Automatic use-case
		dd
			a(href="/human",rel="tooltip", title="Manual use-case") Manual use-case