!!! 5
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/scripts/jquery.js')
		script(src='/scripts/script.js')
	body
		div.all
			header
				img(src='/img/logo.jpg', title='Logo', alt='Logo')
			section.content!=body
			footer
				span Powered by Volox
				img(src="/img/vologo.jpg",title="Volox",alt="Volox")