!!! 5
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/scripts/script.js')
		:coffeescript
			p=54
			console.log "prova " + p
	body
		header
			h1 Benvenuto!
			h2 Test
		nav
			ul
				- var items = [ "link", "lunk", "lank" ]
				- each item in items
					li
						a(href='/', title='#{item}') #{item}
		section.content!=body
		footer