!!! 5
html
	head
		title=title
		block css
			link(rel='stylesheet', href='/stylesheets/style.css')

		block scripts
			script(src='/scripts/libs/jquery.js')
			script(src='/scripts/libs/modernizr.js')
			script(src='/scripts/script.js')
	body
		div.all
			header
				img(src='/img/logo.jpg', title='Logo', alt='Logo')
			section.content
				h1=title
				block content
			footer
				span Powered by Volox
				img(src="/img/vologo.jpg",title="Volox",alt="Volox")