extends layout

block append css
	link(rel='stylesheet', href='/stylesheets/test.css')

block append scripts
	script(src='/scripts/task.js')
	//script(src='/scripts/libs/hydra.js')
	script(src='/scripts/MM.js')
	script(src='/scripts/VoloCL.js')
	script(src='/scripts/webcl.js')
	script#clVolo(type="text/x-opencl", src="/scripts/opencl/volo.cl")
block content
	h1 Page test.
	img#img(src="/img/test.jpg", title="Image")
	br
	button#clickme Click me
	#dome