extends layout

block append css
	link(rel='stylesheet', href='/stylesheets/test.css')

block append scripts
	script(src='/javascripts/VoloCL.js')
	script(src='/javascripts/MM.js')
	script(src='/javascripts/webcl.js')
	
block content
	.row
		.span6
			img#img(src="/img/test.jpg", title="Image")
		.span6.center
			.alert.alert-info Perform SIFT on the image
			button.btn.btn-primary#clickme Click me
	.row
		.span12#dome