extends layout

block append css
	link(rel='stylesheet', href='/stylesheets/test.css')

block append scripts
	script(src="/scripts/testVideoPOI.js")
block content
	h1 Video POI test.
	video#video(width="854", height="480", autobuffer, controls)
		source(src="/video/big_buck_bunny.ogg", type="video/ogg")
		p Not supported
	ul#poi