extends layout

block append css
	link(rel='stylesheet', href='/stylesheets/test.css')

block append scripts
	script(src='/scripts/task.js')
	script(src='/scripts/taskRun.js')
	script(src='/scripts/libs/fft.js')
	script(src='/scripts/libs/numeric.js')
block content
	h1 Page test for script loading.
	img#img(src="/img/test.jpg")
	#images