extends layout

block append scripts
	script(src='/scripts/task.js')
	script(src='/scripts/taskRun.js')

block content
	h1 Page test for script loading.
	script
		jQuery( document ).ready( function() {
			var task = new Task( "#{task}" );
			task.onReady( function() {
				task.run();
			} );
			task.init();
		});
	div.placeholder