@import functions

$errorColor = #FF9999

body
	background-color lighten($errorColor,40%)
	text-align center
	margin 1em
	color #444
	h1
		margin 0
		margin-bottom 2em
		padding 0
		color darken($errorColor,50%)
	h2
		margin 0
		margin-bottom 2em
		padding 0
		color darken($errorColor,30%)
	p
		width 500px
		text-align justify
		margin auto