span.label
    cursor pointer


#definitions
    dt
        i
            display none
    dd
        p
            cursor pointer
    .selected
        dt
            color #468847
            i
                display inline-block
        dd
            background-color #DFF0D8
            &:hover
                background-color #d0e9c6
