@import functions
@import theme

$bc = $baseColor
$tc = $textColor
$lc = $linkColor

$border = 1px solid $bc
$borderRadius = 10px

// Main page layout
a
	color $lc
	text-decoration none
	&:hover
		color darken($lc,20%)
		text-decoration underline
body
	font-family $font
	font-size $fontSize
	color $tc
	text-align center
	& > *
		margin auto
		border-right $border
		border-left $border
		text-align justify
		width 1000px
		background-color lighten($bc,90%)
		box-shadow 0.5em 0.5em 0.5em lighten($bc,50%)
	& > *:first-child
		border-top $border
		border-top-radius $borderRadius
	& > *:last-child
		border-bottom $border
		border-bottom-radius $borderRadius
	header
		text-align center
		nav
			ul
				list-style none
				margin 0
				padding 0
				li
					a
	.content
		min-height 600px
		h1
			margin 0
			padding 0
	footer
		linear-bg top, lighten($bc,90%), lighten($bc,60%)
		border-bottom-radius $borderRadius
		text-align right
		font-size 0.9em
		min-height 4em
		line-height @min-height
		& > *
			display inline-block
		span
			margin-right 1em
		img
			vertical-align middle
			border-radius 10px
.all > *
	padding 7px


// Task list
div.taskList
	ul
		li
			position relative
			width 70%
			linear-bg top, lighten($bc,60%), lighten($bc,80%)
			&:hover
				linear-bg top, lighten($bc,80%), lighten($bc,60%)
			span
				position absolute
				top 0
				right 0
				cursor pointer
				img
			p


// New task
div.newTask
	form
		section
			border 1px solid $bc
			border-bottom none
			padding 1em
			&:first-child
				border-top-radius 5px
			&:last-child
				border-bottom 1px solid $bc
				border-bottom-radius 5px
			&.required
				background-color lighten( red, 80% )
			& > .dropzone
				$color = #999
				padding 20px
				background-color lighten( $color, 80% )
				border 10px dashed $color
				text-align center
				color lighten( $color, 40% )
				font-size 2em
			&.actions
				text-align right
				background-color lighten( $bc, 80% )
				input
					margin-left 1em
					display inline-block
			label
				display block
			input,textarea
				display block