@import functions
@import theme

$bc = $baseColor
$tc = $textColor
$lc = $linkColor


// Main page layout
a
	color $lc
	text-decoration none
	&:hover
		color darken($lc,20%)
		text-decoration underline

:hover[class*="span"]
	//background #ddd

.right
	text-align right
.left
	text-align left
.center
	text-align center

.dropzone
	@height 5em
	margin-top 1em
	margin-bottom 1em
	border 5px dashed #ccc
	height @height
	text-align center
	font-size 1em
	color #aaa
	font-weight bold
	line-height @height

	&.active
		border-color green
		color green

	&.present
		border-color red
		color red

	input[type="file"]
		visibility hidden
		width 0
		height 0