/* Colors */
$baseColor = #8099d9
//$baseColor = #ddd
$textColor = #444
$linkColor = #f00

/* Font */
//@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:400,700);
$font = 'Cabin Condensed', sans-serif
$fontSize = 12pt