extends ../layout

block append scripts
    script(src='/javascripts/human.js')
    link(rel='stylesheet', href='/stylesheets/human.css')

block content
    .row
        .span6
            h3 Text
            #text.well= text
                
        .span6
            .alert.alert-info
                | Selected word: 
                strong: em#selectedWord

            h3 Possible definitions
            dl#definitions